*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: grey;
    text-align: center;
}
h1{
    text-align: center;
     color: burlywood;
}

.container{
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.game{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 60vmin;
}

.box{
    border-radius: 10px;
    border: none;
    margin: 5px;
  height: 18vmin;
  width: 18vmin;
  font-size: 3rem;
  color: red;
  background-color: burlywood;
}
.box:hover{
    border: 2px solid rgb(178, 114, 31);
}
#reset{
    text-align: center;
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 80px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
.new-btn{
    text-align: center;
    height: 50px;
    border-radius: 5px;
    border: none;
    width: 150px;
    background-color: black;
    color: white;
    font-size: 1.5rem;
}
#msg{
    color: #ffffc7;
    font-size: 8vmin;
    text-align: center;
}
.msg-container{
    height: 100vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;

    
}
.hide{
    display: none;
}
.colorgreen{
    color: green;
}
.bold{
    font-weight:bolder;
}